.logo-mi { color:#0E8; }

.logo-certify { color:#08E; }

.logo-trademark { color:black; font-size:50%; vertical-align:super; }

.center-div
{
     margin: 0 auto;
     width: 100px; 
}

.center-div p
{
     position: relative;
     top: 50%;
     transform: perspective(1px) translateY(-50%);
}
